@keyframes spin {
	from { transform: rotateY(0) rotateX(0); }
	to { transform: rotateY(360deg) rotateX(360deg); }
}
*{
	box-sizing: border-box;
}
.wrap {
  perspective: 500px;
}
.cube{
  animation: spin 10s infinite linear;
  transform-style: preserve-3d;

  -webkit-transform-origin: 100px 100px 100px;
  transform-origin: 100px 100px 100px;
  width: 200px;
  margin:300px auto;
}
.cube canvas{
	border: 2px solid black;
  background-color: rgba(100, 155, 50, 0.3);
  -webkit-transform-origin: 100px 100px 100px;
  transform-origin: 100px 100px 100px;
  position: absolute;
  width: 200px;
  height: 200px;
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}
.left{
  transform: rotateX(0) rotateY(90deg);
  -webkit-transform: rotateX(0) rotateY(90deg);
  -ms-transform: rotateX(0) rotateY(90deg);
}
.right{
  transform: rotateX(0) rotateY(270deg);
  -webkit-transform: rotateX(0) rotateY(270deg);
  -ms-transform: rotateX(0) rotateY(270deg);
}
.top{
  transform: rotateX(90deg) rotateY(0);
  -webkit-transform: rotateX(90deg) rotateY(0);
  -ms-transform: rotateX(90deg) rotateY(0);
}
.bottom{
  transform: rotateX(270deg) rotateY(0);
  -webkit-transform: rotateX(270deg) rotateY(0);
  -ms-transform: rotateX(270deg) rotateY(0);
}
.front{
  transform: rotateX(0) rotateY(0);
  -webkit-transform: rotateX(0) rotateY(0);
  -ms-transform: rotateX(0) rotateY(0);
}
.back{
  transform: rotateX(180deg) rotateY(0);
  -webkit-transform: rotateX(180deg) rotateY(0);
  -ms-transform: rotateX(180deg) rotateY(0);
}
